@use './components/Header/header.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    padding: 25px 15px 0;
    max-width: 1460px;
    margin: 0 auto;

    h1 {
        text-align: right;
    }
}
