#header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1020px) {
        padding: 80px 0 40px 0;
    }

    #header-nav {
        z-index: 1;

        #menu {
            #menu-items-container {
                a {
                    padding: 0 0 30px 20px;
                    font-family: Inter, 'sans serif';
                    text-decoration: none;
                    font-size: 20px;
                    color: rgb(130, 130, 130);
                    cursor: pointer;
                    font-weight: 300;

                    &:hover {
                        color: rgb(215, 70, 7);
                    }
                }
            }
            @media (max-width: 1020px) {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.4);
                min-height: 100vh;
                z-index: -1;
                width: 100vw;

                #menu-items-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    padding-top: 35%;
                    width: 100%;
                    max-width: 340px;
                    overflow: 1px solid black;
                    background-color: white;
                }
            }
        }

        #nav-menu-button {
            border: none;
            background: transparent;
            cursor: pointer;
            outline: none;
        }
    }
}

@media (min-width: 420px) {
    #header-nav {
        .menu-invisible {
            display: none;
        }

        .menu-visible {
            display: block;
        }
    }
}

@media (min-width: 1020px) {
    #header-nav {
        #menu {
            display: block;
            background: none;
        }

        #nav-menu-button {
            display: none;
        }
    }
}
